<!-- Navigation-->
<div class="inner-navigation collapse">
    <div class="inner-nav {% if current_page.is_home %}onepage-nav{% endif %}">
        <ul class="mob-menu">
            <li>
{#                <a href="{% if current_page.is_home %}#about{% else %}/#about{% endif %}">#}
                <a href="/about">
                    <span class="menu-item-span">
                        Chi siamo
                    </span>
                </a>
            </li>
            <li>
                <a href="{% url "blog_list" %}">
                    <span class="menu-item-span">
                        Lasciati ispirare
                    </span>
                </a>
            </li>
            <li>
                <a href="{% url 'faqs_list' %}">
                    <span class="menu-item-span">
                        Domande frequenti
                    </span>
                </a>
            </li>
            <li>
                <a href="{% url 'contact' %}">
                    <span class="menu-item-span">
                        Contatti
                    </span>
                </a>
            </li>
            {% comment %}
            <li>
                {#<a href="{% url 'vibes_in_action' %}">#}
                    <span class="menu-item-span">
                        Vibes in action
                    </span>
                </a>
            </li>
            {% endcomment %}
        </ul>

        <ul class="desktop-menu">
            <li class="text-center" style="font-size:14px">
                <a href="/">
                    <span class="menu-item-span">HOME</span>
                </a>
            </li>
            {%comment%}
            <li class="text-center" style="font-size:14px">
                <a href="{% url 'vibes_in_action' %}">
                    <span class="menu-item-span">
                        Vibes in action
                    </span>
                </a>
            </li>
            {%endcomment%}
            <li class="text-center" style="font-size:14px">
{#                <a href="{% if current_page.is_home %}#about{% else %}/#about{% endif %}">#}
                <a href="/about">
                    <span class="menu-item-span">
                        Chi siamo
                    </span>
                </a>
            </li>
            <li class="text-center" style="font-size:14px">
                <a href="{% url "blog_list" %}">
                    <span class="menu-item-span">
                        Lasciati ispirare
                    </span>
                </a>
            </li>
            <li class="text-center" style="font-size:14px">
                <a href="{% url 'faqs_list' %}">
                    <span class="menu-item-span">
                        Domande frequenti
                    </span>
                </a>
            </li>


            <li class="text-center" style="font-size:14px">
                <a href="/team">
                    <span class="menu-item-span">TEAM</span>
                </a>
            </li>
            <li class="text-center" style="font-size:14px">
                <a href="/virtual-tour">
                    <span class="menu-item-span">TOUR VIRTUALE</span></a></li>
            <li class="text-center" style="font-size:14px">
                <a href="/how-we-roll">
                    <span class="menu-item-span" style="text-transform: uppercase;">
                        Come lo facciamo
                    </span>
                </a>
            </li>
            <li class="text-center" style="font-size:14px">
                <a href="/testimonials">
                    <span class="menu-item-span">Dicono di noi</span></a></li>

            <li class="text-center" style="font-size:14px">
                <a href="/service/osteopathy/">
                    <span class="menu-item-span">OSTEOPATIA</span>
                </a>
            </li>
            <li class="text-center" style="font-size:14px">
                <a href="/service/fisioterapia/">
                    <span class="menu-item-span">FISIOTERAPIA</span>
                </a>
            </li>
            <li class="text-center" style="font-size:14px">
                <a href="/service/corporate-wellness/">
                    <span class="menu-item-span">BENESSERE IN AZIENDA</span>
                </a>
            </li>
            <li class="text-center" style="font-size:14px">
                <a href="/service/boot-camp-vibes/">
                    <span class="menu-item-span">OPEN</span>
                </a>
            </li>
            <li class="text-center" style="font-size:14px">
                <a href="/service/events/">
                    <span class="menu-item-span">EVENTI</span>
                </a>
            </li>

            <li class="text-center" style="font-size:14px">
                <a href="/jobs"><span class="menu-item-span">Lavora con noi</span></a></li>
            <li class="text-center" style="font-size:14px">
                <a href="{% url 'contact' %}">
                    <span class="menu-item-span">
                        Contatti
                    </span>
                </a>
            </li>
        </ul>

    </div>
</div>
<div class="extra-nav">
    <ul>
        <li>
            <a class="off-canvas-open" href="#">
                <span class="menu-item-span">
                    More
                    <i class="ti-menu"></i>
                </span>
            </a>
        </li>

        <li class="nav-toggle">
            <a href="#" data-toggle="collapse" data-target=".inner-navigation">
            {#<a href="#" data-toggle="collapse" data-target=".off-canvas-sidebar">#}
                <span class="menu-item-span">
                    MORE
                    <i class="ti-menu"></i>
                </span>
            </a>
        </li>
    </ul>
</div>