{% extends 'base_front.html' %}
{% load sekizai_tags static cms_tags %}
{% load social_share %}

<head>
    <title>
        About - Functional Vibes
    </title>

    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" >

    {% block facebook_opengraph %}
    <!-- Facebook Opengraph -->
    <meta property="og:url" content="https://functionalvibes.com/about" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="About - Functional Vibes" />
    <meta property="og:description" content="Functional Training sessions, Osteopathy, Nutritional Consultancy and Postural Assessment. A totally new concept of health consultancy, right in the heart of Brussels"/>
    <meta property="og:image" content="https://functionalvibes.com/static/images/virtual_tour_1.jpg" />
    <meta property="og:image:alt" content="About - Functional Vibes" />
    <meta property="fb:app_id" content="3625437754143193"/>
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    {% endblock facebook_opengraph %}
</head>

{% block content %}
    <div class="wrapper">
                <section class="module-cover para-desktop text-center"
                 style='height: 100%;background-image: url("{% static 'images/about75.jpg' %}");'>
            <div class="container">
                <div class="row">
                    <div class="over-title-center">
                        <h3 class="text-center over-title-center"
                            style="color:#333333; background-color: #ffffff;" >
                            <b>About us</b>
                        </h3>
{#                        <p class="lead m-b-30 over-title-center" style="color:#ffffff;background-color: #333333;font-size:18px">#}
{#                            <i>Our 12 golden rules</i>#}
{#                        </p>#}
                    </div>
                    <div class="slides-navigation">
                        <a class="down" href="#cont" style="font-size: 50px;left:50%!important;top: 200px;">
                            <span class="ti-angle-down"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="" >
            <div class="container" id="cont">
                <div class="row">
                    <div class="col-lg-12 p-text-18">
                        <p class="lead m-b-30" style="font-size:18px">
                            {% placeholder "about_content" %}
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="module" id="about" style="padding-top:50px!important;padding-bottom:20px!important">
{#            <h1 class="text-center">#}
{#                <strong>About</strong>#}
{#                    {{ request.META.REMOTE_ADDR }}#}
{#            </h1>#}
            <p style="padding-top:40px"></p>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4"> {# offset-lg-1#}
                        <p class="lead m-b-30" style="font-size:18px;padding-left: 20px; line-height: 40px">
                            As you are reading these words, you are probably sitting down,
                            slouched somewhere with your head tilted forward.
                            And chances are that the time you spend in this position
                            during the day, every day, is quite long. If this sounds familiar,
                            your body has probably already adapted to a new, dysfunctional setting.
                            You could already be feeling some pain or discomfort in your lower
                            back or neck.
                        </p>
                        <p class="lead m-b-30" style="font-size:18px">
{#                            Our customised training plan and evidence-based method are what you need to create a new#}
{#                            and healthy routine. You’ll rediscover the pleasure of looking at yourself in the mirror#}
{#                            with a smile.#}
                        </p>
                    </div>
                    <div class="col-lg-8">
                        <p class="m-b-30">
{#                            <img src="{% static 'images/about/About-1.jpg' %}" alt="">#}
                            <img src="{% static 'images/about23.jpg' %}" alt="">
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="module" style="padding-top:50px!important;padding-bottom:20px!important">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <p class="m-b-30">
{#                            <img src="{% static 'images/about/About-2.jpg' %}" alt="">#}
                            <img src="{% static 'images/about05.jpg' %}" alt="">
                        </p>
                    </div>
                    <div class="col-lg-4">
{#                        3 offset-lg-1#}
                        <p class="lead m-b-30" style="font-size:18px;padding-left: 20px; line-height: 40px">
                            At this stage, exercise can work like magic to restore the functionality of your
                            body and make you feel better, but, at the same time, jumping straight into a
                            traditional fitness program may not be a wise choice.
                            In fact, this could make your current symptoms worse or even cause injuries.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="module" style="padding-top:50px!important;padding-bottom:20px!important">
            <div class="container">
                <div class="row align-items-center">
{#                    <div class="col-lg-3 offset-lg-1">#}
{#                        <p class="lead m-b-30" style="font-size:18px">#}
{#                            You're the reason we exist. Improving your wellbeing is our mission. We’re a team of#}
{#                            highly qualified Coaches and we’re good listeners too. We’ll find the strategy that suits#}
{#                            you and your needs best.#}
{#                        </p>#}
{#                    </div>#}

                    <div class="col-lg-12 p-text-18">
                        <p>Here is where we come into the story. Our <a href="/team/"><strong>team</strong></a>
                            of highly qualified Coaches,&nbsp;specialised in functional re-education,
                            is the best choice for you to:</p>

                        <ol>
                            <li>Restore the functionality of your body, making it stronger and more resilient</li>
                            <li>Maximise the effectiveness of your training and</li>
                            <li>Learn how to exercise on your own</li>
                        </ol>

                        <p>Unlike what happens in the majority of personal training centres or fitness club,
                            here at&nbsp;Functional Vibes each Coach follows a common approach to human movement
                            which is&nbsp;grounded in scientific evidence and 10+ years of clinical experience.</p>

                        <p>Functional Vibes, however, is not only about professional expertise&nbsp;and
                            technical&nbsp;innovation.</p>
                    </div>
{#                    <div class="col-lg-8">#}
{#                        <p class="m-b-30">#}
{#                            <img src="{% static 'images/about/About-3.jpg' %}" alt="">#}
{#                        </p>#}
{#                    </div>#}
                </div>
            </div>
        </section>
        <section class="module" style="padding-top:50px!important;padding-bottom:20px!important">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <p class="m-b-30">
                            <img src="{% static 'images/virtual_tour_1.jpg' %}" alt=""
                                 style="padding-right: 50px;">
{#                            <img src="{% static 'images/about/About-4.jpg' %}"#}
                            <img src="/media/images/how_we_roll/240621_AntoineDeckers_Functional_Vibes_LD_138.jpg"
                                 alt=""
                                 style="margin-top:-100px;padding-left:50px;">
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <p class="lead m-b-30" style="font-size:18px;padding-left: 20px;line-height: 40px">
                            Our Training Center, in the heart of the European district of Brussels,
                            is the ideal place to focus on yourself. Our environment ensures privacy and comfort,
                            while a cosy waiting room provides the perfect setting to connect with others or just
                            to enjoy a coffee. Bright and elegant spaces, separate changing rooms, spacious lockers,
                            and modern bathrooms with showers are the icing on the cake of a unique journey.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
