{% extends 'base_front.html' %}
{% load sekizai_tags static cms_tags %}
{% load social_share %}

<head>
    <title>
        Chi siamo - Functional Vibes
    </title>

    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" >

    {% block facebook_opengraph %}
    <!-- Facebook Opengraph -->
    <meta property="og:url" content="https://functionalvibes.com/about" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="About - Functional Vibes" />
    <meta property="og:description" content="Functional Training sessions, Osteopathy, Nutritional Consultancy and Postural Assessment. A totally new concept of health consultancy, right in the heart of Brussels"/>
    <meta property="og:image" content="https://functionalvibes.com/static/images/virtual_tour_1.jpg" />
    <meta property="og:image:alt" content="About - Functional Vibes" />
    <meta property="fb:app_id" content="3625437754143193"/>
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    {% endblock facebook_opengraph %}
</head>

{% block content %}
    <div class="wrapper">
                <section class="module-cover para-desktop text-center"
                 style='height: 100%;background-image: url("{% static 'images/about75.jpg' %}");'>
            <div class="container">
                <div class="row">
                    <div class="over-title-center">
                        <h3 class="text-center over-title-center"
                            style="color:#333333; background-color: #ffffff;" >
                            <b>Chi siamo</b>
                        </h3>
{#                        <p class="lead m-b-30 over-title-center" style="color:#ffffff;background-color: #333333;font-size:18px">#}
{#                            <i>Our 12 golden rules</i>#}
{#                        </p>#}
                    </div>
                    <div class="slides-navigation">
                        <a class="down" href="#cont" style="font-size: 50px;left:50%!important;top: 200px;">
                            <span class="ti-angle-down"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="" >
            <div class="container" id="cont">
                <div class="row">
                    <div class="col-lg-12 p-text-18">
                        <p class="lead m-b-30" style="font-size:18px">
                            {% placeholder "about_content" %}
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="module" id="about" style="padding-top:50px!important;padding-bottom:20px!important">
{#            <h1 class="text-center">#}
{#                <strong>About</strong>#}
{#                    {{ request.META.REMOTE_ADDR }}#}
{#            </h1>#}
            <p style="padding-top:40px"></p>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4"> {# offset-lg-1#}
                        <p class="lead m-b-30" style="font-size:18px;padding-left: 20px; line-height: 40px">
                            Mentre stai leggendo queste righe, ti troverai probabilmente a sedere da qualche parte,
                            con le  spalle un po' ricurve in avanti, le testa inclinata e lo sguardo basso.
                        </p>

                        <p class="lead m-b-30" style="font-size:18px;padding-left: 20px; line-height: 40px">Non ci sarebbe da stupirsi se questa posizione fosse la
                            stessa in cui passi gran parte del tempo delle tue giornate, a causa di un lavoro che ti
                            obbliga in una posizione di questo tipo. Se è così, con tutta probabilità il tuo corpo si
                            è già adattato a uno schema disfunzionale potenzialmente dannoso e la tua schiena e il
                            collo potrebbero presto iniziare a fare male (sempre che un po' di dolore non sia già
                            presente…).
                        </p>

                        <p class="lead m-b-30" style="font-size:18px;padding-left: 20px; line-height: 40px">
                            Se sei un atleta, invece, probabilmente la tua giornata-tipo sarà più dinamica e attiva,
                            ma potresti essere capitato su questo sito alla ricerca di un metodo di lavoro che ti
                            aiuti a risolvere finalmente gli strascichi di un infortunio, a prevenirne una ricaduta
                            o a ottenere livelli prestativi mai raggiunti in precedenza.
                        </p>
                        <p class="lead m-b-30" style="font-size:18px">
{#                            Our customised training plan and evidence-based method are what you need to create a new#}
{#                            and healthy routine. You’ll rediscover the pleasure of looking at yourself in the mirror#}
{#                            with a smile.#}
                        </p>
                    </div>
                    <div class="col-lg-8">
                        <p class="m-b-30">
{#                            <img src="{% static 'images/about/About-1.jpg' %}" alt="">#}
                            <img src="{% static 'images/about23.jpg' %}" alt="">
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="module" style="padding-top:50px!important;padding-bottom:20px!important">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <p class="m-b-30">
{#                            <img src="{% static 'images/about/About-2.jpg' %}" alt="">#}
                            <img src="{% static 'images/about05.jpg' %}" alt="">
                        </p>
                    </div>
                    <div class="col-lg-4">
{#                        3 offset-lg-1#}
                        <p class="lead m-b-30" style="font-size:18px;padding-left: 20px; line-height: 40px">
                            In entrambi i casi, un piano di esercizio mirato potrebbe fare miracoli per ripristinare
                            la funzionalità del tuo corpo e renderti più forte e prestante, nella vita di tutti giorni
                            come nella pratica sportiva. Allo stesso tempo, però, scegliere un programma di allenamento
                            basato sul "fitness" tradizionale, magari svolto in gruppo, potrebbe rivelarsi una
                            scelta inappropriata. Al contrario, questo potrebbe addirittura aggravare i tuoi sintomi
                            o crearne di nuovi.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="module" style="padding-top:50px!important;padding-bottom:20px!important">
            <div class="container">
                <div class="row align-items-center">
{#                    <div class="col-lg-3 offset-lg-1">#}
{#                        <p class="lead m-b-30" style="font-size:18px">#}
{#                            You're the reason we exist. Improving your wellbeing is our mission. We’re a team of#}
{#                            highly qualified Coaches and we’re good listeners too. We’ll find the strategy that suits#}
{#                            you and your needs best.#}
{#                        </p>#}
{#                    </div>#}

                    <div class="col-lg-12 p-text-18">
                        <p>Ed è proprio qui che entriamo in gioco noi. Il nostro <a href="/team/"><strong>team</strong></a>
                            altamente qualificato e specializzato in rieducazione funzionale ed allenamento
                            personalizzato, è la scelta migliore che puoi fare per:</p>

                        <ol>
                            <li>Ripristinare la piena funzionalità del tuo corpo, rendendolo più forte e resiliente</li>
                            <li>Prevenire infortuni e aumentare la tua performance sportiva</li>
                            <li>Trattare e/o prevenire i sintomi muscoloscheletrici
                                (soprattutto dolori a schiena, collo, spalle e ginocchia)</li>
                            <li>Imparare ad allenarti in autonomia in modo sicuro ed efficace</li>
                        </ol>

                        <p>
                            A differenza della quasi totalità dei classici studi di Personal Training o centri
                            fitness, qui a Functional Vibes ogni Coach condivide la stessa metodologia di allenamento,
                            innovativa e basata su evidenze scientifiche ed una lunga esperienza clinica maturata a
                            livello internazionale.
                        </p>

                        <p>
                            La sede Functional Vibes di Pontedera (PI), infatti, nasce a quattro anni dall'apertura
                            del nostro quartier generale nel cuore del quartiere europeo di Bruxelles, in Belgio,
                            dove ad oggi operano 4 dei nostri Coach e dove ogni settimana si allenano più di 150 soci.
                            Pur consapevoli che il nostro processo di apprendimento non dovrà mai arrestarsi,
                            siamo orgogliosi di quanto abbiamo imparato in questi anni, aiutando più di 300 persone
                            provenienti da ogni parte d'Europa e del mondo a tornare in piena forma in modo sicuro e
                            professionale.
                        </p>

                        <p>
                            E adesso non vediamo l'ora di mettere in pratica tutta la nostra esperienza qui,
                            a casa nostra, per aiutarti a raggiungere ogni tuo obbiettivo!
                        </p>
                        <p>
                            Ma c'è di più. Functional Vibes non è solo professionalità,
                            esperienza e innovazione tecnica.
                        </p>
                    </div>
{#                    <div class="col-lg-8">#}
{#                        <p class="m-b-30">#}
{#                            <img src="{% static 'images/about/About-3.jpg' %}" alt="">#}
{#                        </p>#}
{#                    </div>#}
                </div>
            </div>
        </section>
        <section class="module" style="padding-top:50px!important;padding-bottom:20px!important">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <p class="m-b-30">
                            <img src="{% static 'images/virtual_tour_1.jpg' %}" alt=""
                                 style="padding-right: 50px;">
{#                            <img src="{% static 'images/about/About-4.jpg' %}"#}
                            <img src="/media/images/how_we_roll/240621_AntoineDeckers_Functional_Vibes_LD_138.jpg"
                                 alt=""
                                 style="margin-top:-100px;padding-left:50px;">
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <p class="lead m-b-30" style="font-size:18px;padding-left: 20px;line-height: 40px">
                            Il nostro studio di Pontedera (PI), a pochi passi dal centro cittadino e
                            facilmente accessibile in auto grazie alla presenza in zona di molti parcheggi gratuiti,
                            è il luogo ideale per concentrarti su te stesso e sui tuoi obbiettivi. Tutti nostri
                            ambienti assicurano privacy e comfort, mentre la nostra accogliente sala d'attesa è
                            stata studiata per permetterti di rilassarti e magari goderti un caffè o leggere una
                            rivista, da solo o in compagnia. Gli ampi spazi luminosi ed eleganti e i nostri spogliatoi
                            appena rinnovati e altamente equipaggiati sono la ciliegina sulla torta per un'esperienza
                            unica e appagante. Clicca <a href="/virtual-tour">qui</a> per un tour virtuale della nostra struttura.

                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
